html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.moduleContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* control window */
@media screen {
    body.controls {
        font-family: verdana, helvetica, sans-serif;
        font-size: 12px;
        padding: 12px;
    }
    body.controls label {
        display: inline-block;
        min-width: 75px;
    }
    body.controls span {
        display: inline-block;
        white-space: nowrap;
    }
    body.controls input {
        width: 75px;
        border: 1px solid silver;
        border-right: none;
        padding: 2px;
    }
    body.controls button {
        margin-right: 4px;
    }
}