html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* hides screen during initialization, overridden in themes */
body {
    visibility: hidden;
}

/* hides elements that are supposed to be hidden at least until theme is loaded and overrides the behavior */
.hidden {
    visibility: hidden;
}

.moduleContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* control window */
@media screen {
    body.controls {
        font-family: verdana, helvetica, sans-serif;
        font-size: 12px;
        padding: 12px;
        visibility: visible;
    }
    body.controls .instructions {
        text-align: right;
    }
    body.controls label {
        display: inline-block;
        min-width: 75px;
    }
    body.controls span {
        display: inline-block;
        white-space: nowrap;
    }
    body.controls input,
    body.controls textarea {
        width: 75px;
        border: 1px solid silver;
        border-right: none;
        padding: 2px;
        overflow: hidden;
        vertical-align: bottom;
        font-size: 13px;
        height: 15px;
        resize: none;
    }
    body.controls button {
        margin-right: 4px;
    }
}
