body {
    font-family: verdana, helvetica, sans-serif;
}

/* time definitions */
#time {
    left: -20vw;
    transform: translate(20vw);
    background-color: darkblue;
    font-family: lcdbold;
    color: white;
    transition: transform 0.3s;
    height: 10vh;
    font-size: 8vh;
    line-height: 12vh;
    padding-left: 3vh;
    padding-right: 1vh;
}
#time::after {
    content: '';
    width: 2.5vh;
    display: block;
    height: 10vh;
    position: absolute;
    right: -2.5vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 10vh 2.5vh 0 0;
    border-color: darkblue transparent;
}

#time.hidden {
    transform: translate(0);
}

/* clock */
#clock {
    right: -20vw;
    transform: translate(-20vw);
    background-color: darkblue;
    font-family: lcdbold;
    color: white;
    transition: transform 0.3s;
    height: 10vh;
    font-size: 8vh;
    line-height: 12vh;
    width: 20vh;
    padding-right: 3vh;
    text-align: right;
}

#clock::before {
    content: '';
    width: 2.5vh;
    display: block;
    height: 10vh;
    position: absolute;
    left: -2.5vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 0 0 10vh 2.5vh;
    border-color: darkblue transparent;
}

#clock.hidden {
    transform: translate(0);
}

#clock.stopped {
    background-color: crimson;
}
#clock.stopped::before {
    border-color: crimson transparent;
}
#clock.armed {
    color: crimson;
}

/* list */
#list {
    opacity: 1;
    transition: opacity 0.3s;
}
#list.hidden {
    opacity: 0;
}
#list .header {
    text-align: center;
    margin-bottom: 0.8vh;
}
#list .header span {
    display: inline-block;
    background-color: crimson;
    color: white;
    line-height: 7.2vh;
    height: 7.2vh;
    vertical-align: top;
}
#list .header span::before {
    content: '';
    width: 4.8vh;
    display: inline-block;
    height: 7.2vh;
    /*position: absolute;*/
    margin-left: -4.8vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 0 0 7.2vh 1.8vh;
    border-color: crimson transparent;
}
#list .header span::after {
    content: '';
    width: 4.8vh;
    display: inline-block;
    height: 7.2vh;
    /*position: absolute;*/
    margin-right: -4.8vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 0 1.8vh 7.2vh 0;
    border-color: crimson transparent;
}
#list .row {
    height: 6.4vh;
    font-size: 5.0vh;
    background-color: darkblue;
    color: white;
    margin-bottom: 0.8vh;
    position: relative;
    line-height: 6.4vh;
    transition: transform 0.3s;
}
#list.hidden .row {
    transform: rotateX(90deg);
}
#list .row::before {
    content: '';
    width: 1.6vh;
    display: block;
    height: 6.4vh;
    position: absolute;
    left: -1.6vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 6.4vh 1.6vh 0 0;
    border-color: transparent darkblue;
}
#list .row::after {
    content: '';
    width: 1.6vh;
    display: block;
    height: 6.4vh;
    position: absolute;
    right: -1.6vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 6.4vh 1.6vh 0 0;
    border-color: darkblue transparent;
}
#list .cell {
    padding-left: 3vh;
}

/* table defenitions */
#table {
    color: white;
    background: darkblue;
}

#table td {
    border: white 1px solid;
}

/* lowThird definitions */
#lowThird {
    background: none;
    height: 22vh;
    box-sizing: border-box;
}
#lowThird .line {
    color: white;
    padding-left: 3vh;
    transition: transform 0.3s;
    transform: translate(0);
    box-sizing: border-box;
    position: relative;
}
#lowThird.hidden .line {
    transform: translate(-120%);
}

/* used ceaser to create custom easing functions: http://matthewlein.com/ceaser/ */
#lowThird .line1 {
    background-color: darkblue;
    width: 80%;
    transition-timing-function: cubic-bezier(0.250, 0.100, 0.000, 1.000);
    font-size: 8vh;
    height: 10vh;
    line-height: 10vh;
}
#lowThird .line1::after {
    content: '';
    width: 2.5vh;
    display: block;
    height: 10vh;
    position: absolute;
    right: -2.5vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 10vh 2.5vh 0 0;
    border-color: darkblue transparent;
}

#lowThird .line2 {
    background-color: crimson;
    width: 70%;
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.695, 1.000);
    font-size: 5vh;
    height: 8vh;
    line-height: 8vh;
}

#lowThird .line2::after {
    content: '';
    width: 2vh;
    display: block;
    height: 8vh;
    position: absolute;
    right: -2vh;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box;
    border-width: 8vh 2vh 0 0;
    border-color: crimson transparent;
}

/* ticker */
#twitter {
    font-size: 6vh;
    padding: 0.2em;
    background-color: darkblue;
    color: white;
    transition: bottom 0.3s;
}

#twitter.hidden {
    bottom: -4em;
}

#twitter .tweet {
    font-size: 6vh;
}

#twitter .author {
    font-weight: bold;
}

#twitter .message {
}