body {
    font-family: verdana;
}

/* time definitions */
#time {
    left: 0;
    background-color: darkblue;
    font-family: lcdbold;
    color: white;
    transition: transform 0.3s;
    height: 14vh;
    font-size: 12vh;
    line-height: 16vh;
    width: 32vh;
    padding-left: 6vh;
}
#time::after {
  content: '';
  width: 3vh;
  display: block;
  height: 14vh;
  position: absolute;
  right: -3vh;
  top: 0;
  border: 2px solid black;
  box-sizing: border-box;
  border-width: 14vh 3vh 0 0;
  border-color: darkblue transparent;
}

#time.hidden {
    transform: translate(-120%);
}

/* clock */
#clock {
    right: 0;
    background-color: darkblue;
    font-family: lcdbold;
    color: white;
    transition: transform 0.3s;
    height: 14vh;
    font-size: 12vh;
    line-height: 16vh;
    width: 32vh;
    padding-right: 6vh;
    text-align: right;
}

#clock::before {
  content: '';
  width: 3vh;
  display: block;
  height: 14vh;
  position: absolute;
  left: -3vh;
  top: 0;
  border: 2px solid black;
  box-sizing: border-box;
  border-width: 0 0 14vh 3vh;
  border-color: darkblue transparent;
}

#clock.hidden {
    transform: translate(120%);
}

#clock.stopped {
    background-color: crimson;
}
#clock.armed {
    color: yellow;
}

/* lowThird definitions */
#lowThird {
    background: none;
    height: 30vh;
    box-sizing: border-box;
}
#lowThird .line {
    color: white;
    padding-left: 6vh;
    transition: transform 0.3s;
    transform: translate(0);
    box-sizing: border-box;
    position: relative;
}
#lowThird.hidden .line {
    transform: translate(-120%);
}

/* used ceaser to create custom easing functions: http://matthewlein.com/ceaser/ */
#lowThird .line1 {
    background-color: darkblue;
    width: 80%;
    transition-timing-function: cubic-bezier(0.250, 0.100, 0.000, 1.000);
    font-size: 10vh;
    height: 14vh;
    line-height: 14vh;
}
#lowThird .line1::after {
  content: '';
  width: 3vh;
  display: block;
  height: 14vh;
  position: absolute;
  right: -3vh;
  top: 0;
  border: 2px solid black;
  box-sizing: border-box;
  border-width: 14vh 3vh 0 0;
  border-color: darkblue transparent;
}

#lowThird .line2 {
    background-color: crimson;
    width: 70%;
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.695, 1.000);
    font-size: 6vh;
    height: 10vh;
    line-height: 10vh;
}

#lowThird .line2::after {
  content: '';
  width: 2.14vh;
  display: block;
  height: 10vh;
  position: absolute;
  right: -2.14vh;
  top: 0;
  border: 2px solid black;
  box-sizing: border-box;
  border-width: 10vh 2.14vh 0 0;
  border-color: crimson transparent;
}

/* ticker */
#twitter {
    font-size: 6vh;
    padding: 1em;
    background-color: darkblue;
    color: white;
    transition: bottom 0.3s;
}

#twitter.hidden {
    bottom: -4em;
}

#twitter .tweet {
    font-size: 6vh;
}

#twitter .author {
    font-weight: bold;
}

#twitter .message {
}